/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    background-color: #333;
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: 6px 9px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #102F5e;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 4px 8px;
}

/* Formato */
.stand-container {
    max-width: 450px;
    margin: 48px auto 0;
    background-color: #FDFDFD;
    padding: 24px;
    border-radius: 16px;
}

.stand-container header {
    text-align: center;
    padding: 0 16px 16px;
    border-bottom: 1px solid #ccc;
}

/* Formularios */
#stand-form, #edit-form {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

#stand-form p,
#edit_form p {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 6px;
}

#cancel-edit-btn {
    margin-top: 16px;
}

/* Estante */
.stand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.stand h3 {
    flex: 1;
    font-size: 16px;
}

.stand button {
    margin-left: 6px;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}